<kt-portlet>
  <kt-portlet-header [icon]="'fas fa-filter'" [title]="'Tìm kiếm'" [class]="'card-head-lg bgr-custom'" (click)="isCollapsed = !isCollapsed">
    <ng-container ktPortletTools>
      <i [hidden]="isCollapsed" class="fas fa-angle-double-down"></i>
      <i [hidden]="!isCollapsed" class="fas fa-angle-double-up"></i>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div [ngbCollapse]="isCollapsed" class="card-body ">
      <form class="row form-group" [formGroup]="form">
        <div class="col-md-5 row align-items-center mt-2">
          <label class="col-sm-3 col-md-3 pr-md-0 mt-2">Tổ bộ môn :</label>
          <div class=" col-sm-8 ">
            <input type="text" class="form-control mr-10" maxlength="100" placeholder="Nhập tên tổ bộ môn cần tìm ..." id="department" formControlName="department" />
          </div>
        </div>
        <div class="col-md-5 row align-items-center  mt-2">

          <label class="col-sm-3 pl-md-0 col-md-4">Cán bộ quản lý :</label>

          <div class=" col-sm-8 ">
            <input type="text" class="form-control" maxlength="100" placeholder="Nhập cán bộ quản lý bộ môn cần tìm ..." id="managerment" formControlName="managerment" />
          </div>
        </div>
        <div class="col-md-2 d-flex justify-content-md-end  mt-2">
          <button type="submit" class="btn btn-smas">
            <i class="fas fa-filter"></i> Tìm kiếm
          </button>
        </div>

      </form>
    </div>
  </kt-portlet-body>
</kt-portlet>
