<div class="card-header bg-dark-o-20 d-flex justify-content-between">
  <div class="mb-auto mt-auto">
    <h3 style="margin-bottom: 0px"><i class="fa fa-list" style="font-size: larger; color: black"></i>Danh sách Khen thưởng </h3>
  </div>
  <div style="margin-top: 10px" kendoTooltip>
    <button title="Thêm" kendoButton type="button" [iconClass]="'fas fa-plus'" (click)="openModalAdd()"
            style="background: #419197; color: white; font-size: medium; margin-right: 10px"></button>
  </div>
</div>
<div class="card-body">

  <kendo-grid #table  *ngIf="isLoading$ | async"
               [data]="dataKT"
               [pageSize]="pageSize"
               [skip]="skip"
               [pageable]="{
                    buttonCount: buttonCount,
                    info: info,
                    type: type,
                    pageSizes: pageSizes,
                    previousNext: previousNext
                  }"
               [kendoGridSelectBy]="'id'"
               [selectable]="{checkboxOnly : true}"
               (pageChange)="pageChange($event)"
               [style]="{'border-radius': '25px'}">
    <kendo-grid-column field="id" title="TT" [width]="45" editable="false">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
    </kendo-grid-column>
    <kendo-grid-column [width]="200" field="name" editor="text" title="Tên nhân viên"></kendo-grid-column>
    <kendo-grid-column [width]="200" field="email" editor="text" title="Email nhân viên"></kendo-grid-column>
    <kendo-grid-column [width]="200" field="luong" editor="text" title="Lương">
    </kendo-grid-column>
    <kendo-grid-command-column title="Thao tác" [width]="100">
      <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
        <div class="d-flex" kendoTooltip>
          <button title="Sửa" class="border-radius btn-custom btn-add h-30px m-auto pt-2px"  kendoButton [iconClass]="'fas fa-pencil-alt'" (click)="openModalEdit(dataItem)"></button>
          <button title="Xóa" class="border-radius btn-custom btn-add h-30px m-auto pt-2px"  kendoButton [iconClass]="'far fa-trash-alt'" (click)="openModalDelete($event, dataItem)"></button>
        </div>
      </ng-template>
    </kendo-grid-command-column>
<!--    <ng-template kendoPagerTemplate let-currentPage="currentPage" let-total="total" let-skip="skip" let-pageSize="pageSize">-->
<!--      <div class="d-lg-flex d-md-block justify-content-between w-100">-->
<!--        <div class="p-1 d-flex d-sm-flex justify-content-between">-->
<!--          <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{skip + 1}} - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>-->
<!--        </div>-->
<!--        <div class="d-flex justify-content-center custom-mt-15">-->
<!--          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>-->
<!--          <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>-->
<!--          <kendo-pager-next-buttons></kendo-pager-next-buttons>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->
    <ng-template kendoGridNoRecordsTemplate>
      Không có dữ liệu
    </ng-template>
  </kendo-grid>
</div>
