<div class="modal-header">
  <h4 class="modal-title">Xóa Nhân viên</h4>
  <button class="btn-close-h" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-delete-h">
    <img src="/assets/media/bg/normal_u546.svg">
    <p>Bạn có chắc chắn xóa không ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="cancel()">Hủy bỏ</button>
    <button type="button" class="btn btn-smas" (click)="onSubmit()">Đồng ý</button>
  </div>
</div>
